<div class="form-floating mb-3">
    <input type="text" class="form-control" name="name" placeholder="Category name" value="<%=category.name %>">
    <label for="floatingInput">Category name</label>
  </div>
  <div class="form-floating">
    <button type="submit" class="btn btn-primary" value="Save">Save</button>
  </div>