<div class="container mt-5">
    <center>
        <h1 style="color: green">List Categories</h1>
    </center>
    <a href="/category/add" type="button" class="btn btn-outline-success">Add New Category</a> <br>
    <hr>
    <table class="table table-success table-striped">
        <tr>
            <th>Name</th>

            <th>Edit</th>

            <th>Delete</th>

        </tr>
        <tr>
            <td>Name</td>

            <td>Edit</td>

            <td>Delete</td>
        </tr>
    </table>
</div>