<div class="container mt-3">
    <h3>Login</h3>
    <form action="">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" >
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mt-3">
            <button type="submit" class="btn btn-primary" value="Save">Save</button>
          </div>
    </form>
</div>