<div class="container mt-3">
    <h3>Register</h3>
    <form action="/user/" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" >
            <label for="floatingPassword">User Name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" >
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mt-3">
            <button type="submit" class="btn btn-primary" value="Save">Save</button>
          </div>
    </form>
</div>